<div class="col-12-xs alpha">
	<!-- DESCRIPTION -->
		<h2> Active Projects </h2>
		<p class='lead'>
			<em> Illumination Aesthetics, Actuation Aesthetics, Thermopainting </em> 
			<address>
			  <strong>Cesar Torres</strong><br>
			  cearto@berkeley.edu <br>
			</address>
			<address>
			  <strong>Jessica Chang, Caroline Chen, Jacqueline Garcia, Ryan Kapur, Jasper O'Leary, Niraj Rao </strong><br>
			</address>
			<address>
			  <strong>Eric Paulos</strong><br>
			  paulos@berkeley.edu <br>
			</ad dress>
			
		</p>
		<br>
		
		</p>
</div>

