.col-12-xs.alpha
  / DESCRIPTION
  %h2 Active Projects
  %p.lead
    %em Illumination Aesthetics, Actuation Aesthetics, Thermopainting
  %address
    %strong Cesar Torres
    %br/
    cearto@berkeley.edu
    %br/
  %address
    %strong Jessica Chang, Caroline Chen, Jacqueline Garcia, Ryan Kapur, Jasper O'Leary, Niraj Rao
    %br/
  %address
    %strong Eric Paulos
    %br/
    paulos@berkeley.edu
    %br/
    %br/
