<script type="text/javascript">
function BrushBar(container){
    this.container = container;
    this.ws = new WebStorage();
    this.toolbox = {};
    this.state = true;
    this.brush = null;
    this.init();
    paper.tool = null;

    this.hide();
  }
  BrushBar.prototype = {
    init: function(){
      var scope = this;
      $('#visibility-button').click(function(){
        scope.hide();
      });
      // BRUSH SETUP
      brushClasses = _.map($('.brush'), function(brush){
        return $(brush).attr('tool');
      });
      _.each(brushClasses, function(brush){
        // console.log(brush);
        var toolStr = "new " + brush + "(paper)";
        var tool = eval(toolStr);
        scope.toolbox[brush] = tool;
      });


      // BRUSH BEHAVIORS
      $('.brush').hover(function(){
          BrushBar.setBrush($(this), true);
        }, function(){
          if($(this).attr('active') == "active") return;
          BrushBar.setBrush($(this), false);
        });

        $('.brush').click(function(){
          $('.brush').attr('active', '');

          _.each( $('img.brush').not(this) ,function(brush){
              BrushBar.setBrush($(brush), false);
          });

          BrushBar.setBrush($(this), true);
          // DISABLE OLD BRUSH
          if(! _.isNull(scope.getCurrentBrush())){
            var oldbrush = scope.toolbox[scope.getCurrentBrush()];
            oldbrush.disable();
          }
          // ACTIVATE BRUSH
          scope.brush = $(this).attr('tool');
          var brush = scope.toolbox[scope.brush];
          brush.enable();
          console.log("Enabling", scope.brush);
        
          paper.tool = brush.tool;

          $(this).attr('active', 'active');
        });
        var scope = this;
        $('#cache-save').click(function(){
            // saveLED information
            var name =  displays[0].svgPath;
            var led_data = CanvasUtil.queryPrefix("NLED");
            var led_data = _.map(led_data, function(led){ 
              data =  {
                position: [led.position.x, led.position.y], 
                colorID: rgb2hex(led.colorID.toCanvasStyle()), 
                target: led.target
              }
              if(led.forceTarget)
                data.forceTarget = led.forceTarget;
              return data;
            });

            var key = ["led", name].join("_")
           
            console.log("STORING", led_data);
            scope.ws.set(key, JSON.stringify(led_data));
        });
        
        $('#cache-clear').click(function(){
          var leds = CanvasUtil.queryPrefix("NLED");
          _.each(leds, function(led){
            var rays = CanvasUtil.query(paper.project, {prefix: "RAY", originLight: led.id});
            CanvasUtil.call(rays, "remove");
            led.remove();
          })
          paper.view.update();
          $('#cache-save').click();
        });
        $('#cache-reload').click(function(){
          CanvasUtil.call(CanvasUtil.queryPrefix("NLED"), "remove");
          var diffs = CanvasUtil.queryPrefix('DIF');
          var name =  displays[0].svgPath;
          var key = ["led", name].join("_");
          if(scope.ws.includes(key)){
            var led_data = JSON.parse(scope.ws.get(key));
             

             console.log("FETCHING",led_data);
             _.map(led_data, function(data){
                console.log(data);
                var led =  new paper.Path.Rectangle({
                  name: "NLED: APA102C", 
                  size: new paper.Size(Ruler.mm2pts(LED_WIDTH), Ruler.mm2pts(LED_WIDTH)),
                  strokeColor: "black",
                  strokeWidth: 1, 
                  opacity: 1.0,
                  parent: CanvasUtil.queryPrefix("ELD")[0], 
                  position: paper.view.center
                });
                led.fillColor = new paper.Color(data.colorID)
                led.colorID = new paper.Color(data.colorID)
                led.position = new paper.Point(data.position)
                led.target = data.target;
                if(data.forceTarget) led.forceTarget = data.forceTarget;
                paper.tool.holder.addRays(diffs, led);
                return led;
             });  
             
             vm.update();
             paper.view.update();
          }
        });
    },
    getCurrentBrush: function(){
      return this.brush;
    },
    update: function(){
      if(_.isNull(this.brush)) return;
      this.toolbox[this.brush].update()
    },
    show: function(now){
      var scope = this;
      if(this.state) return;
      this.state = true;
      if(now){this.container.show(); return;}
      cp.show();
      this.container.animate({
        bottom: "0px",
      }, 500);
      $('#visibility-button').html('HIDE').unbind('click').click(function(){
        scope.hide();
      });
    },
    hide: function(now){
      var scope = this;
      if(!this.state) return;
      this.state = false;
      if(now){this.container.hide(); return;}
      cp.hide();
      this.container.animate({
        bottom: "-100px",
      }, 500);
      $('#visibility-button').html('SHOW').unbind('click').click(function(){
        scope.show();
      });
    }
  }
  
  BrushBar.setBrush = function(jqNode, active){
     var img = jqNode.attr('src');
     if(_.isUndefined(img)) return;
     var brushName = img.split('_');
     var isActive = active ? "Active.png" : "NonActive.png";
     brushName[2] = isActive;
     brushName = brushName.join('_');
     jqNode.attr('src', brushName);
  }

 </script>


<!-- BRUSH BAR -->
<div id="brush-bar">
<div class="task-bar">
  <!-- <button class="pull-left btn btn-xs btn-transparent"> -->
    <!-- <span class="glyphicon glyphicon-backward"> -->
  <!-- </button> -->
  <button id="cache-save" class="pull-left btn btn-xs btn-transparent">
    <span class="glyphicon glyphicon-floppy-disk">
  </button>
  <button id="cache-reload" class="pull-right btn btn-xs btn-transparent">
    <span class="glyphicon glyphicon-refresh">
  </button>
  <button id="visibility-button" class="pull-right btn btn-xs btn-transparent">
   HIDE
  </button>
  <br class="clearfix"/>
</div>
<div class="col-xs-5">
  <div id="brush-set">
    <img class="brush" tool="LEDPlacerBrush" src="/brushes/brush_CircuitBrush_NonActive.png">
    <!-- <img class="brush" tool="FillBrush" src="/brushes/brush_PaintCan_NonActive.png"> -->
    <!-- <img class="brush" tool="MagicWandBrush" src="/brushes/brush_MagicWand_NonActive.png"> -->
    <!-- <img class="brush" tool="HeatBrush" src="/brushes/brush_HeatGun_NonActive.png"> -->
    <!-- <img class="brush" tool="LinkBrush" src="/brushes/brush_LinkBrush_NonActive.png"> -->
  </div>
  <!-- SET OF TOOLS HERE -->
</div>
<div class="col-xs-4">
  <h3>Status</h3>
</div>
 <div class="col-xs-3">
  <%= render :partial => "socket_control"%>
</div>
</div>

<style>
#brush-set{
      margin-left: 20px;
    }
    .brush{
      height: 115px;
      margin: 4px 2px;
    }
    #brush-bar{
      padding: 4px 8px;
      background: blue;
      position: absolute;
      bottom: 0;
      left: 5%;
      width: 90%;
      height: 125px;
      color: #a19e99;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.45);

      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3b3a38+0,181617+98 */
      background: #3b3a38; /* Old browsers */
      background: -moz-linear-gradient(top, #3b3a38 0%, #181617 98%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top, #3b3a38 0%,#181617 98%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, #3b3a38 0%,#181617 98%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b3a38', endColorstr='#181617',GradientType=0 ); /* IE6-9 */


      -webkit-box-shadow: 0px -5px 24px 3px rgba(0,0,0,0.09);
      -moz-box-shadow: 0px -5px 24px 3px rgba(0,0,0,0.09);
      box-shadow: 0px -5px 24px 3px rgba(0,0,0,0.09);

    }
      #brush-bar.task-bar{
        height: 10px;
        margin-bottom: 5px;
      }
    #send-button{
      margin: 15% 0;
    }
</style>
