/ color_palette.html

#sidebar-left-control
  #control-palette
    %ul.list-group
      /
        <li class="list-group-item">
        <label> LED </label>
        <em class="badge"> 1 </em>
        </li>
        <li class="list-group-item">
        <label> REGION </label>
        <br>
        <div class="btn-group pull-left">
        <button id="target-view" data-target="" class="btn btn-sm btn-info">VIEW</button>
        </div>
        <div class="btn-group pull-right">
        <button id="select-target" class="btn btn-sm btn-default">
        <span class="glyphicon glyphicon-screenshot"> </span>
        </button>
        <button  id="clear-target" class="btn btn-sm btn-default">
        <span class="glyphicon glyphicon-ban-circle"> </span>
        </button>
        </div>
        <br class="clearfix">
        </li>
      %li.list-group-item
        / <label> APPEARANCE </label>
        %br/
        %input#led-color.form-control.color-picker{:type => "color", :value => "#E74C3C"}/
        %br.clearfix/
        #mini-color-palette
          / <span class="color-swatch mini-color-swatch" name="#fe6e4b"></span>
          / <span class="color-swatch mini-color-swatch" name="#eeb84b"></span>
          / <span class="color-swatch mini-color-swatch" name="#6ebda7"></span>
          / <span class="color-swatch mini-color-swatch" name="#00A8E1"></span>
          %span.color-swatch.mini-color-swatch{:name => "#FFFFFF"}
          / <span class="color-swatch mini-color-swatch" name="#000000"></span>
        %br.clearfix/
        %br/
        /
          <button class="btn btn-sm btn-default">
          <span class="glyphicon glyphicon-eye-open"></span> RAYS
          </button>
:css
  .spacer{
    margin-top: 10px;
  }
  #sidebar-left-control{
      /* PALETTE */
     
      position: absolute;
      top: 65px;
      left: 0;
      width: 200px;
      height: 80%;
      z-index: 10;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#181617+0,3b3a38+100 */
      background: #181617; /* Old browsers */
      background: -moz-linear-gradient(left, #181617 0%, #3b3a38 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(left, #181617 0%,#3b3a38 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right, #181617 0%,#3b3a38 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#181617', endColorstr='#3b3a38',GradientType=1 ); /* IE6-9 */
  
      -webkit-box-shadow: 5px 0px 24px 3px rgba(0,0,0,0.09);
      -moz-box-shadow: 5px 0px 24px 3px rgba(0,0,0,0.09);
      box-shadow: 5px 0px 24px 3px rgba(0,0,0,0.09);
    }
    .mini-color-swatch{
      float: left;
      width: 30px;
      height: 30px;
      margin: 4px 2px 4px 4px;
      border: #444 0.5px solid;
      border-radius: 90px;
  
  
      -webkit-box-shadow: 0px -5px 24px 3px rgba(0,0,0,0.09);
      -moz-box-shadow: 0px -5px 24px 3px rgba(0,0,0,0.09);
      box-shadow: 0px -5px 24px 3px rgba(0,0,0,0.09);
    }
    #control-palette{
      background: #111;
      /*background: #191718;*/
      padding: 3px;
      margin: 5px;
      width: 95%;
      height: 70%;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
  
      -webkit-box-shadow: 0px -5px 24px 3px rgba(0,0,0,0.09);
      -moz-box-shadow: 0px -5px 24px 3px rgba(0,0,0,0.09);
      box-shadow: 0px -5px 24px 3px rgba(0,0,0,0.09);
  
    }
