<div id="graph"  class="widget status">
  <label class="widget-title" name="graphs"></label>
  <div class="widget-body">
     <select id="component-selector" class="form-control-special col-xs-9">
      <optgroup> ACTUATORS
        <option> LIGHT 1</option>
        <option> STEPPER 1</option>
      </optgroup>
      <optgroup> SENSORS
        <option> POT 1</option>
      </optgroup>
    </select> 
    <div class="col-xs-3 nopadding">
      <button class="btn btn-danger btn-block">
         <%= glyph "screenshot" %>
      </button>
    </div>
    <br class="clearfix">
    <br class="">
    <%= image_tag "/viz.jpg"%>
  </div>
</div>