<!-- OPEN -->
<div class="modal fade" id="open" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Open File</h4>
      </div>
      <div class="modal-body">
        <p class="lead"> Choose a File to Open ... </p>
        
        <input class="svg-open" type="file"></input>
       
      </div>
      <div class="modal-footer">
         <button id="upload-button" class="btn btn-danger" data-dismiss="modal">
          Open SVG
        </button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>