<!-- INSERT MODAL -->
<script type="text/javascript">
  var DEFAULT_FILE = "/artwork/BCNM.svg";
  var files = <%= @files.to_json.html_safe %>;
  $(function(){
      loadFiles2();
      $('#select-button').click(function(){
        var selection = _.map($('.file-option.selected'), function(el, i, arr){
          return $(el).find('img').attr('src');
        });
        $("#current-file").html(getActiveArtwork());
      });
  });

  function getActiveArtwork(){
    if($('.file-option.selected').length == 0) return DEFAULT_FILE;
    return $('.file-option.selected').find('img').attr('src');
  }

  function loadFiles2(){
    var els = _.map(files, function(el, i, arr){
        var dom = $('<div class="file-option responsive-container col-xs-3 no-select">' +
              '<div class="dummy"></div>' +
              '<div class="img-container no-select">' + '</div>' +
          '</div>');
        var img = $('<img src="' + (el.path + el.filename) + '" alt="'+ el.title + '" title="' + el.title + '"/>');
        var name = $('<p></p>').addClass('').html(el.title);
        var br = $('<br>').addClass('clearfix');
        dom.click(function(){
          $('.file-option').removeClass('selected');
          dom.toggleClass('selected');

        }); 
        dom.find('.img-container').append([img]);
        dom.append([name]);
        $('#files').append(dom);
    });
  }


</script>
<div class="modal fade" id="open" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Choose a Display</h4>
      </div>
      <div id="files" class="modal-body">
        <p class="lead"> Choose a Display ... </p>
       
      </div>
      <br class="clearfix"/>
      <div class="modal-footer">
         <button id="select-button" class="btn btn-danger" data-dismiss="modal">
          SELECT
        </button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>

<style>
#current-file{
  padding: 20px;
  padding-bottom: 0;
  text-align: center;
}
.selected{
  border: 1px solid #CCC;
}
.responsive-container {
    position: relative;
    /*border-left: 1px solid black;*/
    /*border-top: 1px solid black;*/
    height: 100px;
}

.dummy {
    padding-top: 100%; /* forces 1:1 aspect ratio */
}

.img-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    text-align:center; /* Align center inline elements */
    font: 0/0 a;
    background: white;
    margin-top: 5px;
    margin-right: 5px;
}
.responsive-container p{
  position: absolute;
  top: 0px;
  z-index: 100;
  text-align: center;
  width: 100%;
  margin: 0;
  left: 0;
  /*background: rgba(255, 255, 255, 0.5);*/
}
.img-container:hover{
  background: #F1F1F1;
}

.img-container:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.img-container img {
    vertical-align: middle;
    display: inline-block;
    max-height: 70%;
    max-width: 70%;
    cursor: pointer;
}
.img-container img svg{
  color: black;
}
#collection-type{
   background: transparent;
   width: 250px;
   padding: 3px;
  
   line-height: 0.8;
   border: 0;
   color: #FFF;
   border-radius: 0;
   height: 34px;
   /*-webkit-appearance: none;*/
}


.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
* {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}
#toggle-switch{
  margin-top: 5px;
  cursor: pointer;
}
#collection select{
  font-size: 10pt;
}
</style>