<script type="text/javascript">


</script>
<!-- <div class="socket-btns btn-group">
<button id="socket-button" class="btn btn btn-danger">
  CONNECT
</button>
<button id="all-white" class="btn btn btn-default">
  ALL WHITE
</button>
</div> -->
<style>
#socket-btns {
  margin: 15% 0;
}
</style>
