<div id="stream" class="widget status">
  <label class="widget-title" name="stream"></label>              
  <div class="widget-body">
    <textarea id="streamer" rows="10">
      <!-- DUMMY DATA -->
      C, 0, 120, 120, 120
      C, 5, 120, 120, 120
      C, 12, 120, 120, 120
      M, 50
      C, 12, 120, 120, 120
      C, 12, 120, 120, 120
    </textarea>
  </div>
</div>