<script>
function ToolManager(){
	this.tools = _.map($('.tool'), function(t){ 
		return $(t).data('tool'); 
	});
	this.init();
	var scope = this;


	this.doms = $('.tool').click(function(){
		var t = $(this).data('tool');
		if(!_.isUndefined(scope.tools[t])){
			var tool = scope.tools[t];
			tool.enable();
			$('#current-tool').html(tool.short_name);
			$('#tool-instructions').html(tool.instructions);
			$('#tool-fields').html(tool.fields);
			if(paper.tool.bindings) paper.tool.bindings();

		}
		else
			console.log(t, "has not been initialized");
		
	})
	$('#current-tool').html("NONE")
	$('#tool-instructions').html("")
	$('#tool-fields').html("")

}
ToolManager.prototype = {
	init: function(){
		this.tools = _.chain(this.tools).map(function(tool){
			try{
				tool =  eval(tool + "()");
				tool.enable = function(){
					if(paper.tool) paper.tool.disable();
					paper.tool = this;
					console.log(this.name, "ENABLED");
					
				}
				tool.disable = function(){
					if(paper.tool.cleanup) paper.tool.cleanup();
					paper.tool = null;
				}
				return tool;
			} catch(e){
				console.warn("Could not find", tool, "specification.");
				return null;
			}
		}).compact()
		.map(function(tool){return [tool.name, tool];})
		.object()
		.value();
	}
}

</script>
<div id="tool-status-widget" class="widget status">
	<label class="widget-title label-normal" name="Tool Status"></label>
	<div class="widget-body">
    <span class='status-label'> ACTIVE TOOL: 
    	<span id="current-tool" class="status"> LINE-SELECT </span></span><br>
    <span id='tool-instructions'></span>
    <div id='tool-fields'></div> 
    <!-- <br class="clearfix"> -->
	</div>
</div>
<style>
	#tool-instructions{
		display: block;
		margin-top: 2px;
		margin-bottom: 2px;
	}
	.status-label{
		color: #00A8E1;
		/*font-weight: bold;*/
		font-size: 8pt;
	}
	.status{
		color: white;
		font-style: italic;
		font-weight: normal;
		font-size: 8pt;
	}
</style>