<!-- Views -->
<script type="text/javascript">
 const MAX_APA102C_RAY_LENGTH = 100;
	function ViewManager(container){
		this.container = container;
		this.state = true;
		this.view = "NORMAL";
		this.init();
		this.show();
	}
	ViewManager.CANVAS_COLOR = "rgb(245, 244, 240)";

	ViewManager.prototype = {
		 init: function(){
			this.hide(true);
			var scope = this;
			this.update();
			// CONTROL LOGIC
			$('#view-icon').click(function(){
				if(scope.state) scope.hide();
				else scope.show();
			});
			$('#view-list ul li').click(function(){
				$('#view-icon').html($(this).children('button').html());
				$('#view-list ul li').removeClass('active');
				$(this).addClass('active');
				$('#view-icon').attr('class', $(this).children('button').attr('class')).removeClass('view').removeClass("btn-sm").addClass('pull-right');
				scope.view = $(this).children('span').html();
				scope.update();
			});
			this.update();
		},
		getCurrentView: function(){
			return this.view;
		},
		update: function(){
			var view = this.getCurrentView();
			console.log("VIEW", view);
			
					
			_.each(displays, function(display){
				e = Pipeline.getElements(display);
				var all = [e.art, e.diff, e.leds, e.bo, e.bi, e.cp, e.dds, e.mc, e.base, e.wires];
		
				switch(view){
					case "NORMAL":
						$('#myCanvas').css('background',   ViewManager.CANVAS_COLOR);
						var show = [e.art, e.diff, e.leds, e.dds, e.base, e.wires];
						var hide = [e.rays, e.cp, e.mc, e.bo, e.bi];
						CanvasUtil.set(e.diff, {
								fillColor: "#DFDFDF", 
								strokeWidth: 1,
								strokeColor: "black"
						});
						console.log(e.rays);
						
						break;
					case "RAYS":
						$('#myCanvas').css('background',   ViewManager.CANVAS_COLOR);
						var show = [e.diff, e.leds, e.rays];
						var hide = [e.art, e.bo, e.bi, e.cp, e.dds, e.mc, e.base, e.wires];
						
					
						CanvasUtil.set(e.diff, {
								fillColor: "black", 
								strokeWidth: 0
						});

						_.each(e.leds, function(led, i){
							var diffs = _.filter(e.diff, function(diff){ return diff.contains(led.position);});
							if(diffs.length ==  0) return;

							var hue = (360 / e.leds.length) * i;
						
							var rays = CanvasUtil.query(paper.project, { prefix: "RAY", originLight: led.id });
							
							if(rays.length != 0){
								// UPDATE RAYS
								CanvasUtil.set(rays, "position", led.position.clone());
							} else{
								// CREATE RAYS
								var rays = _.range(-180, 180, 1);
								var color = new paper.Color("red");
								color.hue = hue;
								color.saturation = 0.8;
								color.brightness = 0.8;

								var led_color = color.clone();
								led_color.brightness = 1;
								led.set({
									fillColor: led_color, 
									strokeColor: led_color, 
									strokeWidth: 1
								})

								rays = _.map(rays, function(theta){

									var point = new paper.Point(1, 0);
									point.length = Ruler.mm2pts(MAX_APA102C_RAY_LENGTH);
									point.angle = theta;
									var line = new paper.Path.Line({
										name: "RAY: Cast",
										from: led.position.clone(), 
										to: led.position.clone().add(point), 
										strokeColor: color, 
										strokeWidth: 1,
										opacity: 0.2, 
										parent: display.svg, 
										originLight: led.id, 
										originAngle: theta,
										hue: hue, 
										// applyMatrix: false
										// shadowColor: color,
    								// shadowBlur: 30,
  								  // shadowOffset: new Point(1, 1)
									});
									line.pivot = line.firstSegment.point.clone();;
									
									ixts = line.getIntersections(diffs[0]);
									if(ixts.length > 0)
									line.lastSegment.point = ixts[0].point;
									
								});
								
							}
						});
						_.each(e.leds, function(led, i){
							led.bringToFront();
						});
						break;
					case "LIGHTS OUT":
						$('#myCanvas').css('background', '#111');
						var show = [e.rays];
						var hide = [e.leds, e.diff, e.art, e.bo, e.bi, e.cp, e.dds, e.mc, e.base, e.wires];
						break;
					default:
						break;
				}
				CanvasUtil.set(_.flatten(show), "visible", true);
				CanvasUtil.set(_.flatten(hide), "visible", false);

			});
			paper.view.update();
		},
		show: function(now){
			if(this.state) return;
			this.state = true;
			if(now){$("#view-list").show(); return;}
			$("#view-list").toggle("slide", { direction: "up" }, 300);
		},
		hide: function(now){
			if(!this.state) return;
			this.state = false;
			if(now){$("#view-list").hide(); return;}
			$("#view-list").toggle("slide", { direction: "up" }, 300);
		}
	}
</script>
<!-- 

Pipeline.getElements = function() {
		return {
				art: display.queryPrefix('ART'),
				diff: display.queryPrefix('DIF'),
				leds: display.queryPrefix('NLED'),
				bo: display.queryPrefix('BO'),
				bi: display.queryPrefix('BI'),
				cp: display.queryPrefix('CP'),
				dds: display.queryPrefix('DDS'),
				mc: display.queryPrefix("MC"),
				base: display.queryPrefix("BASE"),
				wires: display.queryPrefix("WIRE")
		}
} -->

<div id="views">
	<button id="view-icon" class="pull-right btn btn-primary">
		<span class="glyphicon glyphicon-globe"></span>
	</button>
	<br class="clearfix"/>
	<div id="view-list">
		<ul>
			<li class="active">
				<span>NORMAL</span>
				<button name="normal" class="view btn-sm btn btn-primary">
				 <span class="glyphicon glyphicon-globe"></span>
				</button>
			</li>
			 <li>
				<span>RAYS</span>
				<button name="interactivity" class="view btn-sm btn btn-danger">
					R
				</button>
			</li>
			<li>
				<span>LIGHTS OUT</span>
				<button name="lights" class="view btn-sm btn btn-success">
					L
				</button>
			</li>
		</ul>
	</div>
</div>

<style type="text/css">
	#views{
			font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
			padding: 4px 8px;
			color: #AAA;
			position: absolute;
			z-index: 1000;
			top: 60px;
			right: 25px;
			z-index: -1;
			/*text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);*/
	 }
		.view{
			float: right;
			width: 20px;
			padding: 1px;
			height: 20px;
			margin-left: 5px;
		}
		.view:focus{
			outline: none;
		}
		#view-icon{
			width: 40px;
		}
			#view-icon:focus{
				outline: none;
			}
		#view-list{
			width: 175px;
			text-align: right;
			text-decoration: none;

		}
			#view-list ul{
				list-style-type: none;
			}
			#view-list ul li{
				margin: 2px 0;
			}
			#view-list ul li.active{
				color: #888;
			}
</style>
