 <div id="widget-title" class="template">
      <span id="name"> WIDGET TITLE </span>
      <button class="viewer active btn btn-transparent btn-xs pull-right">
                <span class="glyphicon glyphicon-eye-open"></span>
      </button>
      <button class="focus btn btn-transparent btn-xs pull-right">
        <span class="glyphicon glyphicon-resize-small"></span>
      </button>
    </div>