<div id="widget-title" class="label-normal template">
  <button class="viewer active btn-transparent btn-xs pull-left">
  	<span class="glyphicon glyphicon-eye-open"></span>
  </button>
  <span id="name" class="pull-right"> WIDGET TITLE </span>
  <!-- <button class="viewer active btn btn-transparent btn-xs pull-right">
            <span class="glyphicon glyphicon-eye-open"></span>
  </button>
  <button class="focus btn btn-transparent btn-xs pull-right">
    <span class="glyphicon glyphicon-resize-small"></span>
  </button> -->
</div>