#widget-title.label-normal.template
  %button.viewer.active.btn-transparent.btn-xs.pull-left
    %span.glyphicon.glyphicon-eye-open
  %span#name.pull-right WIDGET TITLE
  /
    <button class="viewer active btn btn-transparent btn-xs pull-right">
    <span class="glyphicon glyphicon-eye-open"></span>
    </button>
    <button class="focus btn btn-transparent btn-xs pull-right">
    <span class="glyphicon glyphicon-resize-small"></span>
    </button>
