#zoom-bar
  %button#zoom-in.btn.btn-xs.btn-info
    %span.glyphicon.glyphicon-plus
  %br/
  %button#zoom-out.btn.btn-xs.btn-info
    %span.glyphicon.glyphicon-minus
  %br/
  %button#dm.brush.btn.btn-xs.btn-default{:tool => "DirectManipulationTool"}
    %span.glyphicon.glyphicon-hand-up
  %br/
  %button#pan.brush.btn.btn-xs.btn-default{:tool => "PanTool"}
    %span.glyphicon.glyphicon-fullscreen
:coffeescript
  class window.ZoomBar
    @STEP: 0.1
    @MAX: 10
    @MIN: 0.1
    constructor: (container, starting_level, paper) ->
      console.log "BOUND"
      @in_dom = $('#zoom-in')
      @out_dom = $('#zoom-out')
      @level = starting_level
      @init()
      return
    init: ->
      scope = this
      @checkbounds()
      $(@in_dom).click ->
        scope.in()
        return
      $(@out_dom).click ->
        scope.out()
        return
      @update()
      return
    checkbounds: ->
      if @level > ZoomBar.MAX then @level = ZoomBar.MAX
      if @level < ZoomBar.MIN then @level = ZoomBar.MIN
      return
    in: ->
      @level += ZoomBar.STEP
      @checkbounds()
      @update()
      return
    out: ->
      @level -= ZoomBar.STEP
      @checkbounds()
      @update()
      return
    update: ->
      paper.view.zoom = @level
      paper.view.update()
      return

:css
  #zoom-in, #zoom-out{
  	/*height: 10px;*/
  	margin-bottom: 5px;
  }
  #pan.brush{
  	height: inherit;
  }
  #dm.brush{
  	height: inherit;
  }
   #zoom-bar{
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        padding: 4px 8px;
        color: #AAA;
        position: absolute;
        z-index: 1000;
        top: 200px;
        right: 15px;
         z-index: 10;
     }
