:javascript
  const ports = #{@ports.to_json.html_safe};
  var act, sc;
  $(function(){
      cmp = new Composer({
        actuators: $('#actuators'), 
        slider: $("event#actuators input.master"), 
        timesignals: $('datasignal canvas')
      });
      $('#shade').fadeOut(0);
  });

#ui2
  %group.vert
    = render :partial => "tool/levels/datasignals"
    = render :partial => "tool/levels/actuators"
    - render :partial => "tool/levels/composition"
    - render :partial => "tool/levels/sequencer"
    - render :partial => "tool/levels/behaviors"
    - render :partial => "tool/levels/distributed"
    = render :partial => "tool/levels/statemachine"
           
:css
  #ui2{
    height: 100%;
    overflow-y: scroll;
  }
  .ui{
  	height: 100%;
  }
  .blue{
    background: blue;
  }



 
