:javascript
  const ports = #{@ports.to_json.html_safe};
  const files = #{@files.to_json.html_safe};
  var act, sc, ws, fs, cmp, tsm, sm, am, record;

  var PROJECT = {
    CANVAS_COLOR: "rgb(245, 244, 240)"
  }
  
  $(function(){
    ws = new WebStorage();

    // TIME SIGNAL MANAGER
    tsm = new TimeSignalManager({
      collection: $('#library.signal-design canvas'), 
      add_track: $('event#adder .track-full'),
      add_result: $('event#adder .track-unit'),
      add_button: $('#ts-adder'),
      time_track: $('#time-morph-track'),
      time_slider: $('input#time-morph'), 
    });
    record = new Recorder({
      recorder_button: $('button#record'), 
      recorder_result: $('#record-result')
    })
    // ACTUATIOR MANAGER
    am = new ActuatorManager({
      collection: $('#actuators')
    })
    // COMPOSER
    cmp = new Composer({
      signal_button: $('#apply-signal'),
      live_button: $('#slider-live'),
      slider: $("event#actuators input.master")
    });

    // FILE MANAGER
    dom = 'projectviewer canvas'
    fs = new ProjectFileManager({
      paper: Utility.paperSetup(dom),
      files: files, 
      selector: $("#file-selector"),
      onLoad: function(data){
        $(dom).css('background', PROJECT.CANVAS_COLOR);
        am.init();
      }
    });
    // SOCKET CONTROL
    sc = new SocketControl({
        socket_port: 3015,
        ports: ports,
        trigger: $('#port-connect'),
        selector: $('#port-selector'),
        status: $('#port-status')
      }
    )

     $('#shade').fadeOut(0);
    

  })

#ui2
  %group.vert
    - render :partial => "tool/levels/file_selectors"
    - render :partial => "tool/levels/actuators"
    = render :partial => "tool/levels/datasignals"
    - render :partial => "tool/levels/composition"
    - render :partial => "tool/levels/sequencer"
    - render :partial => "tool/levels/behaviors"
    - render :partial => "tool/levels/distributed"
    - render :partial => "tool/levels/statemachine"
           
:css
  #ui2{
    height: 100%;
    overflow-y: scroll;
  }
  .ui{
  	height: 100%;
  }
  .blue{
    background: blue;
  }



 
