%head
  :javascript
    var ip, fs, vm;
    $(function(){
      Utility.paperSetup($('#main-canvas'));
      zb = new ZoomBar($("#zoom-bar"), 5.0, paper);
      $("#shade").fadeOut("slow");


     
      tir = new Artwork("/artwork/ftirtest.svg", function(display){
        
        runScript(display);
      });
    });

     
    function runScript(display){
      console.log("running script")
      display.fitBounds(paper.view.bounds.expand(-50));
      var mediums = CanvasUtil.getMediums();
      var light_source = CanvasUtil.queryPrefix("LS");
  
      light_source = _.map(light_source, function(ls){
            return new PointLight({
                position: ls.position, 
                mediums: mediums
            });
      });

      _.each(light_source, function(ls){
          ls.emmision(-60, 60, 0.5);
      });


    }
%body
  .btn-group
    %a#mold.process.btn.btn-sm.btn-success{:href => "#", :name => "mold"} Lens
    %a#spacer.process.btn.btn-sm.btn-success{:href => "#", :name => "spacer"} Spacer
  %canvas#main-canvas
  = render :partial => "modals"
  = render :partial => "zoom_bar"
  / <canvas id="bufferCanvas"></canvas>
:css
  .btn-group{
    margin: 10px;
  }
   #zoom-bar{
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      padding: 4px 8px;
      color: #AAA;
      position: absolute;
      z-index: 1000;
      top: 230px;
      left: 100px;
       z-index: -1;
   }
    body, html{
      width: 100%;
      height: 100%;
      overflow: hidden;
      background: #f5f4f0;
    }
    #main-canvas {
      position: absolute;
      top: 0px;
      left: 0;
      width: 100%;
      height: calc(100% - 0px);
      border: solid 1px black;
      background: black;
      /*display: none;*/
      z-index: -100;
      cursor: pointer;
    }
