   <script type="text/javascript">
      var zb, cp, bb, vm, displays = [];
      var p = Pipeline;
      $(function(){
        Utility.paperSetup($('#myCanvas'));
        zb = new ZoomBar($("#zoom-bar"), 1.0, paper);
        $("#shade").fadeOut("slow");
        pipelineSetup();
      });

      function pipelineSetup(){
        var spacers = new ButtonExporter($('#spacers'), "PNG", p.script.spacers );
        var spacers = new ButtonExporter($('#reflectors'), "PNG", p.script.reflectors );
        var mold = new ButtonExporter($('#mold'), "PNG", p.script.mold_tiered );
        var mold = new ButtonExporter($('#mold'), "PNG", p.script.mold );
        var mask = new ButtonExporter($('#mask'), "SVG", p.script.mask );
        var mask = new ButtonExporter($('#pcb'), "SVG", p.script.pcb );
      }

    </script>
  </head>
  <body>

    <canvas id="myCanvas"></canvas>
    <div id="pipeline">
      <ul>
          <li><a id="load" name="load" href="#" class="process btn btn-lg btn-primary" data-toggle="modal" data-target="#open"><span class='glyphicon glyphicon-file'></a></li>
          <li><a id="pcb" name="pcb" href="#" class="process btn btn-lg btn-info"> PCB </a></li>
          <li><a id="reflectors" name="reflector" href="#" class="process btn btn-lg btn-danger"> REFLECTOR </a></li>
          <li><a id="spacers" name="spacers" href="#" class="process btn btn-lg btn-danger"> SPACER </a></li>
          <li><a id="mold" name="mold" href="#" class="process btn btn-lg btn-success"> DIFF </a></li>
          <li><a id="mask" name="mask" href="#" class="process btn btn-lg btn-primary"> MASK </a></li>
          <li><a id="code" name="code" href="#" class="process btn btn-lg btn-default"> CODE </a></li>
      </ul>
      <p id="current-file" class="lead"> /artwork/dd_test.svg </p>
    </div>

      <%= render :partial => "modals"%>
      <%= render :partial => "zoom_bar"%>

    <!-- <canvas id="bufferCanvas"></canvas> -->
  </body>

  <style>
   #zoom-bar{
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      padding: 4px 8px;
      color: #AAA;
      position: absolute;
      z-index: 1000;
      top: 230px;
      left: 100px;
       z-index: -1;
   }

  #pipeline ul li{
    display: inline;
  }
  .process{
    width: 80px;
    height: 80px;
    line-height: 1.5;
    font-size: 6pt;
  }
  #pipeline{
      position: absolute;
      top: 0px;
      padding: 30px;
      width: 100%;
      background: white;
      padding-bottom: 0;
  }
    #pipeline ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        margin-left: calc((100% - 550px) / 2.0)
    }
    body, html{
      width: 100%;
      height: 100%;
      overflow: hidden;
      background: #f5f4f0;
    }
    .input-group {
      padding-bottom: 10px;
    }
    .badgify{
      background: white;
      border: solid 1px #999;
      border-radius: 10px;
      padding: 4px;
    }
    #myCanvas {
      position: absolute;
      top: 180px;
      left: 0;
      width: 100%;
      height: calc(100% - 180px);
      border: solid 1px black;
      /*display: none;*/
      z-index: -100;
      cursor: pointer;
    }
    #sidebar-right{
      display: none;
      background: red;
      position: absolute;
      top: 0;
      right: 0;
      width: 200px;
      height: 100%;

    }

    .btn-transparent{
      background: none;
      border: none;
    }

    .btn-transparent:visited{
      color: #f5f4f0;
      outline: none;
    }
    .btn-transparent:hover{
      color: #f5f4f0;
      outline: none;
    }
    .btn-transparent:active{
      color: #f5f4f0;
      outline: none;
    }

    .btn-transparent:focus{
      color: #f5f4f0;
      outline: none;
    }

    .clearfix{
      clear: both;
    }
  </style>
