<script type="text/javascript">
var zb, cp, bb, vm, pm, gui, displays = []; 
var p = Pipeline;
var files = <%= @files.to_json.html_safe %>;
var DEFAULT_PIPE_FILE = "example_ArcReactor.svg";

$(function(){
  Utility.paperSetup($('#myCanvas'));
  zb = new ZoomBar($("#zoom-bar"), 1.0, paper);
  $("#shade").fadeOut();

  paper.loadCustomLibraries();
  pm = new PipeManager($('body'));
  

  $('#png-download').click(function(){
      var result = CanvasUtil.queryPrefix("RESULT")[0];
      console.log("FINAL DIMENSIONS", 
        Ruler.pts2mm(result.strokeBounds.width).toFixed(2), "mm x", 
        Ruler.pts2mm(result.strokeBounds.height).toFixed(2), "mm x",
        result.model_height.toFixed(2), "mm"
      );
      result.fitBounds(paper.view.bounds.expand(-5))
      var file = $('#file-select :selected').text();
      var fn = file.toLowerCase() + "_" + pm.getCurrentView();
      ButtonExporter.exportPNG(result, fn, $(this));
  });
  $('#svg-download').click(function(){
    paper.view.zoom = 1;
    var fn = $("#file-select option[selected]").html().toLowerCase() + "_" + pm.getCurrentView();
    ButtonExporter.exportSVG(fn);           
  });
  // $('#view-list ul li button[name="reflector"]').click();
});
</script>
</head>
<div id="downloaders" class="btn-group">
    <a id="svg-download" class="btn btn-success">SVG</a>
    <a id="png-download" class="btn btn-success">PNG</a>
</div>
<div id="views">
    <select id="file-select" class="form-control">
        </select> 
    <button id="view-icon" class="pull-right btn btn-primary">EL</button><br class="clearfix">
    <div id="view-list">
        <ul>
          <!--  <li class="active">
                <span>RAYTRACE</span> <button name="raytrace" class="view btn-sm btn btn-info"> RT</button>
            </li> -->
            <li>
                <span>MOLD</span> <button name="mold" class="view btn-sm btn btn-info"> M</button>
            </li>
            <li>
                <span>DIFFUSER</span> <button name="diffuser" class="view btn-sm btn btn-info"> D</button>
            </li>
            <br>
            <li>
                <span>CONE</span> <button name="cones" class="view btn-sm btn btn-danger">S</button>
            </li>  
            <li>
                <span>CONE LENS</span> <button name="cone_lens" class="view btn-sm btn btn-danger">SL</button>
            </li>
            <li>
                <span>SIDE EMIT REFL</span> <button name="side_emit_reflector" class="view btn-sm btn btn-danger">SR</button>
            </li>
            <br>         
           <li>
                <span>TIR LENS</span> <button name="tir_lens" class="view btn-sm btn btn-danger">TL</button>
            </li> 
            <li>
                <span>TIR REF</span> <button name="tir_reflector" class="view btn-sm btn btn-danger">TR</button>
            </li>
            <br>
            <li>
                <span>REF</span> <button name="reflector" class="view btn-sm btn btn-danger">R</button>
            </li>
            <br> 
             <li>
                <span>NO LENS</span> <button name="no_lens" class="view btn-sm btn btn-danger">NL</button>
            </li>  
             <br> 

            <li>
                <span>SPACER</span> <button name="spacer" class="view btn-sm btn btn-warning">S</button>
            </li>
            <li>
                <span>CIRCUIT</span> <button name="circuit" class="view btn btn-sm btn-warning">C</button>
            </li>
            <li>
                <span>BASE</span> <button name="base" class="view btn btn-sm btn-warning">B</button>
            </li>
              <br> 

            <li>
                <span>CODE</span> <button name="code" class="view btn-sm btn btn-warning">C</button>
            </li>
        </ul>
    </div>
</div>
<canvas id="myCanvas"></canvas>
<%= render :partial => "modals"%>
<%= render :partial => "zoom_bar"%>
</body>

<style>
#zoom-bar{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 4px 8px;
  color: #AAA;
  position: absolute;
  z-index: 1000;
  top: 30px;
  left: 30px;
  z-index: -100;
}


body, html{
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #f5f4f0;
}
.input-group {
  padding-bottom: 10px;
}
.badgify{
  background: white;
  border: solid 1px #999;
  border-radius: 10px;
  padding: 4px;
}
#myCanvas {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: calc(100% - 0px);
  border: solid 1px black;
  /*display: none;*/
  z-index: -100;
  cursor: pointer;
}

#file-select{
  width: 120px;
  float: left;
}
#downloaders{
  position: absolute;
  z-index: 1000;
  top: 30px;
  left: 80px;
  z-index: -1;
  /*text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);*/
}
#views{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 4px 8px;
  color: #AAA;
  position: absolute;
  z-index: 1000;
  top: 30px;
  right: 30px;
  z-index: -1;
  /*text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);*/
}
.view{
  float: right;
  width: 20px;
  padding: 1px;
  height: 20px;
  margin-left: 5px;
}
.view:focus{
  outline: none;
}
#view-icon{
  width: 40px;
}
#view-icon:focus{
  outline: none;
}
#view-list{
  width: 175px;
  text-align: right;
  text-decoration: none;

}
#view-list ul{
  list-style-type: none;
}
#view-list ul li{
  margin: 2px 0;
}
#view-list ul li.active{
  color: #888;
}
</style>
