<!DOCTYPE html>
<html>
<head>
<script type="text/javascript">
 var gui, testbed, uniformity, test;
  $(document).ready(function() {
    // Hide loading screen
    $('#shade').hide();

    // Load artwork and GUI
    paperSetup();
    testbed = new Artwork("/artwork/th_lens.svg", function(artwork){
        testbed.lensHeight = 3;
        testbed.proportionGlass = 0.0;
        testbed.eta = 1.44;
        guiSetup();

        // Load ray tracer
        testbed.led = CanvasUtil.queryPrefix("NLED")[0];
        testbed.bb = CanvasUtil.queryPrefix("BB")[0];
        testbed.lens = CanvasUtil.queryPrefix("LENS")[0];
        testbed.led.pivot = testbed.led.bounds.center;

        testbed.mediums = CanvasUtil.getMediums();
        testbed.lightSource = new PointLight({
            position: testbed.led.position.add(new paper.Point(0, 4)),
            mediums: testbed.mediums,
            parent: testbed.bb
        });

        // Trace the first set of rays
        testbed.lightSource.emmision(-60, 60, 0.5);
    });


  });

  // Extra class methods
  Artwork.prototype.updateEta = function() {
    const glassEta = 1.93;
    const pdmsEta = 1.44;
    this.eta = (this.proportionGlass * glassEta
        + (1 - this.proportionGlass) * pdmsEta);
    this.lens.name = 'LENS:_' + this.eta;

    // Redo the ray trace
    this.removeRays();
    testbed.mediums = CanvasUtil.getMediums();
    testbed.lightSource.mediums = testbed.mediums;
    this.lightSource.emmision(-60, 60, 0.5);
    paper.view.update();
  }

  Artwork.prototype.updateLensHeight = function() {
    // Assuming segments are assigned in the order: SW, NW, NE, SE
    var segments = this.queryPrefix('LENS')[0].segments;
    var bottomY = segments[0].point.y;
    segments[1].point.y = bottomY - this.lensHeight;
    segments[2].point.y = bottomY - this.lensHeight;

    // Redo the ray trace
    this.removeRays();
    testbed.mediums = CanvasUtil.getMediums();
    testbed.lightSource.mediums = testbed.mediums;
    this.lightSource.emmision(-60, 60, 0.5);
    paper.view.update();
  }

  Artwork.prototype.removeRays = function() {
    _.each(CanvasUtil.queryPrefix("RAY"), function(ray) {
      ray.remove();
    });
  }

  Artwork.prototype.calculateUniformity = function() {
    return ImagePlane.calculateUniformity(clamped=false);
  }

  // Utility functions
  function paperSetup() {
    $('#myCanvas').attr('height', $(window).height());
    $('#myCanvas').attr('width', $(window).width());
    paper.install(window);
    paper.setup('myCanvas');
  }

  function guiSetup() {
    gui = new dat.GUI();
    gui.add(testbed, 'lensHeight')
      .min(1)
      .max(10)
      .step(1)
      .onChange(function(value) {
        testbed.updateLensHeight();
      });
    gui.add(testbed, 'proportionGlass', [
        0.00, 0.05, 0.10, 0.15, 0.20, 0.25, 0.30,
        0.35, 0.40, 0.45, 0.50, 0.55
      ])
      .onChange(function(value) {
        testbed.updateEta();
      });
    gui.add(testbed, 'eta').listen();
  }
</script>
</head>

<body>
  <canvas id="myCanvas"></canvas>

    <%= render :partial => "modals"%>
    <%= render :partial => "zoom_bar"%>

  <!-- <canvas id="bufferCanvas"></canvas> -->
</body>

<style>

  body, html{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #aaaaaa;
  }
</style>

</html>
