channel.derived label{
    background: $base !important;
    text-align: center !important;
    margin: 2px;
    
}

#actuator-library .track-full{
    background: darken($actuator_base, 10%);
}
#project acceptor{
    margin-top: 10px;
}

.tools{
    padding: 0 14px;
}

.actuator-container{
    width: 58%;
    height: 100% !important;
}
acceptor.actuator{
    @extend .hoz;
    @extend .vert-centered-sink-top;
    width: $actuator_width;
    min-width: $actuator_width;
    height: 90%;
    max-height: 90px;
    color: white;
    line-height: 100%;
    font-weight: normal;
    font-size: 9pt;
    text-align: center;
    z-index: 0;
    margin: 0px 0px 0px 0px;

    /*@extend actuator;*/
    background: darken($actuator_base, 10%);
           
    &.ui-droppable-active{
      background: darken($actuator_base, 30%) !important;
    }
    &.ui-droppable-highlight, &.ui-droppable-hover{
      background: darken($actuator_base, 35%) !important;
    }
    &::after{
        content: 'ACTUATOR';
        color: lighten($actuator_base, 50%);
    }
    &.accepted::after{
        content: '';
        display: none;
    }
    actuator{
        margin-top: 2%;
        margin-bottom: 2%;
        height: 96% !important;
    }
    @include drop-shadow(0);
    @include inset-shadow(0);
    border-bottom: solid 3px darken($actuator_base, 20%);
    border-radius: 0;
}

actuator{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
    /*@extend .vert;*/
    @extend .vert-centered-sink-top;
    position: relative;
    width: $actuator_width;
    min-width: $actuator_width;
    height: 90%;
    max-height: 87px;


    margin-top: 0px;

    color: white;
    line-height: 100%;
    font-weight: normal;
    font-size: 9pt;
    text-align: center;
    z-index: 0;
    border: 1px solid $actuator_base;

    @include drop-shadow(0.93);  

        &.selected{@extend block.selected;}

    
        div.simulation{
            @extend .vert;
            /*height: 100%;*/
            /*width: 80px;*/
            width: 100%;
        }
        canvas{
            display: none;
            width: 100% !important;
            height: 75%;
            margin: 0;
        }
        label.async{
            display: none;
            width: 50px;
            padding: none;
            position: absolute;
            bottom: 0;
            left: 0;
            color: #00A8E1;
            font-size: 8pt;
            background: none;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            text-align: left;
        }
        label.title{
            position: relative;
            display: block;
            height: 25%;
            width: 100%;
            padding-top: 2px;
            padding-bottom: 4px;
            font-weight: normal;
            line-height: 14px;
            font-size: 0.8em;
            background: darken($actuator_base, 10%);
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            margin: 0;
            &.light{
                display: none;
                position: relative;
                background: darken($actuator_base, 0%);
            }
            .save-status{    
                position: absolute;
                top: calc(50% - 7px);
                left: 1px;
                width: 13px;
                height: 13px;
                display: block;
                background: $sexy_red;
                border: 1px solid black;
                border-radius: 100px;
                &.saved{
                    background: $sexy_green;
                }
            }


            
            
        }
        channels{
            @extend .noselect;
            /*width: 100px; */
            /*height: 100%;*/
            width: 100%;
            background: darken($actuator_base, 10%);
        }
        channel{
            &.selected label.actuator{
                background: lighten($actuator_base, 10%);
                &:hover{background: lighten($actuator_base, 12%);}
            }
            label.actuator{
                padding: 5px 7px;
                line-height: 100%;
                margin: 0;
                width: 100%;
                text-align: left;
                font-weight: normal !important;
                font-size: 0.75em;
                background: darken($actuator_base, 20%);
                &:hover{background: darken($actuator_base, 25%);}
                &:focus{background: darken($actuator_base, 27%);}
                &:active{background: darken($actuator_base, 30%);}
                &.span.dimension{
                    font-family: 'Menlo', monospace;
                    font-size: 10pt;
                }
            }
        }
        
}


event.actuation-design{
    border: 1px solid darken($base, 20%);
    background: darken($base, 5%);
    .track{
      @extend track;
      background: darken($base, 20%);
    }
    .track-unit{
      @extend .track;
      width: $actuator_width !important;
      min-width: $actuator_width !important;
    }
    .track-long{
      @extend .track;
      width: $actuator_width * 3 !important;
    }
    .track-full{
      @extend .track;
      width: 100%;
    }
    .ui-droppable-active{
      background: darken($base, 25%) !important;
    }
    .ui-droppable-highlight, .ui-droppable-hover{
      background: darken($base, 30%) !important;
    }
  }
      

