/* DROP TOOL */
.drop-tool{

}
.drop-tool ul{
	display: none;
	width: 88%;
	margin: 0% 6%;
	padding: 0;
	background: $base;
}
.drop-tool ul li{
	display: block;
	width: 100%;
	text-align: center;
	/*margin-top: 2px;*/
	list-style: none;
	padding: 2px 0;
	color: $sexy_off_white;
	text-transform: uppercase;
	border-bottom: 1px solid $sexy_off_white
}
.drop-tool ul li:focus{
	outline: none;
    background: darken($base, 10%);
}
.drop-tool ul li:hover{
	outline: none;
    background: darken($base, 10%);
}
.drop-tool ul li.active{
	outline: none;
    background: darken($orange, 10%);
}