group{
  position: relative;
}
/* FILE SELECTOR */
  #selectors{
    position: fixed;
    top: 0;
    z-index: 100000;
    padding: 2px 1px 6px 1px;
    background: #333;
    @include inset-shadow(0.43);
    @include drop-shadow(0.83);
  }
  #project{
    margin-top: 40px;
    padding-top: 10px;
    /*position: fixed;
    top: 0;
    z-index: 100000;
    top: 42px;
    @include drop-shadow(0.83);*/
  }
  /*event:nth-child(3){
    margin-top: 440px;
    padding-top: 10px;
  }*/
 .status-label{
    color: #00A8E1;
    /*font-weight: bold;*/
    font-size: 8pt;
    font-style: italic;
  }
  .status{
    color: white;
    font-style: italic;
    font-weight: normal;
    font-size: 8pt;
  }
  select.sexy{
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    height: 22px;
    border: none;
    border-radius: 1px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    font-size: 10px;
    padding: 3px 5px;
    text-align: center;
    background-image: url(/assets/down-arrow.png);
    background-size: 15px 10px;
    background-repeat: no-repeat;
    background-position: right;
    @include inset-shadow(0.10);
  }
