// Place all the styles related to the tool controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* TOOL CSS PRODUCTION GRADE */
$sexy_off_white: #f5f4f0;
$view_ui_ratio: 0.7;
$base: #2D6A96;
$base_accent: $base; /* darken($base, 10%); */
$base_shadow: #78787B; /* gray */
$shadow: #67686A; /* shadow gray */
$highlight: #AFB0B3;
$accent2: $shadow;
$orange: #ff9e31;
$off_black: #151311;

$thick: 5px;

@mixin inset-shadow($opacity){
	-webkit-box-shadow: inset 2px 2px 12px 0px rgba(0,0,0,$opacity);
	-moz-box-shadow: inset 2px 2px 12px 0px rgba(0,0,0,$opacity);
	box-shadow: inset 2px 2px 12px 0px rgba(0,0,0,$opacity);
}
@mixin drop-shadow($opacity){
	-webkit-box-shadow: 0px 4px 12px -5px rgba(0,0,0,$opacity);
	-moz-box-shadow: 0px 4px 12px -5px rgba(0,0,0,$opacity);
	box-shadow: 0px 4px 12px -5px rgba(0,0,0,$opacity);
}
@mixin drop-highlight($opacity){
	-webkit-box-shadow: 0px 8px 12px -5px rgba(255,255,255,$opacity);
	-moz-box-shadow: 0px 8px 12px -5px rgba(255,255,255,$opacity);
	box-shadow: 0px 8px 12px -5px rgba(255,255,255,$opacity);
}

input.sexy{
	width: 90%;
	margin-top: 10px !important;
}
button.sexy{
    /*width: 30%;*/
    margin-top: 10px !important;
    margin-bottom: 5px !important;
  }

.fill_height{
	height: 100%;
}
.fill_width{
	width: 100% !important;
}

.form-control-special{
	display: block;
	/* width: 100%; */
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.428571429;
	color: #555555;
	background-color: white;
	background-image: none;
	border: 1px solid #cccccc;
	/*border-radius: 4px;*/
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 0px;
	border-top-right-radius: 0px;

	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	-o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
select.sm{
	@extend .form-control-special;
	height: 20px;
}

/*COMPOSER CSS*/
event.tall{
	height: 400px;
}

datasignal{
	@extend keyframe;
}
#composed{
	background: darken($base, 30%);
}
#interaction{
	background: darken($base, 32%);
}
commandlist{
	@extend keyframe;
	border-radius: 5px;
	padding: 5px 8px !important;
	width: 500px !important;
}

#stateviewer{
	@extend commandlist;
	width: 400px !important;
}

#benchmarks{
	@extend commandlist;
	width: 350px !important;
}

canvas,graph{
    /*padding: 1px;*/
    width: 100%;
    margin: 0;
    height: 100%;
    /*margin-bottom: 5px;*/

    flex-grow: 1;
    color: black;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
    background: white;
    
  }
.design-title{
	min-width: 130px !important;
	font-size: 12pt !important;
}

actuator{
	@extend .vert-centered-sink-top;

  	width: 180px;
    margin-top: 0px;

    height: 90%;
    line-height: 100%;

    color: white;
    font-weight: normal;
    font-size: 0.8em;
    text-align: center;
    @include drop-shadow(0.93);   
}

datasignal.selected, actuator.selected{
    /*border: 2px solid $orange;*/
    @include drop-highlight(0.72);
}
.actuator-title{
	padding-top: 2px;
	padding-bottom: 2px;
    /*height: 14px;*/
    height: 20%;
    width: 100%;
    line-height: 14px;
    font-size: 0.9em;
    background: darken($base, 10%);
    margin: 0;
  }
.actuator-title.light{
	background: darken($base, 0%);
}
.actuator-design{
	background: darken($base, 5%);
}	
	actuator div.info{
		width: 80px;
	}
	actuator canvas{
		width: 100% !important;
		height: 80%;
		margin: 0;
	}
	actuator input{
		line-height: 100%;
	}
	  channels.actuator{
	  	width: 100px; 
	  	height: 100%;
	  	background: darken($base, 20%);
	  }
	  channels.actuator channel input{
	    margin: 0 !important;
	    cursor: pointer;
	    font-size: 0.7em;
	  }
	  label.actuator{
	    padding: 6px 8px;
	    line-height: 100%;
	    margin: 0;
	    width: 100%;
	    text-align: left;
	    font-weight: normal !important;
	    font-size: 0.8em;
	  }
	  label.actuator.selected{
	  	background: lighten($base, 10%);
	  }
	  label.actuator:hover{
	  	background: darken($base, 30%);
	  }
	  label.actuator.selected:hover{
	  	background: lighten($base, 10%);
	  }
	  	label.actuator.span.dimension{
	  		font-family: monospace;
	  		font-size: 12pt;
	  	}
.behavior_design{
	background: darken($base, 10%);
}

/* DESIGNER CSS */
.btn-ard{
	background: $base;
	color: $sexy_off_white;
	padding: 6px 8px;
	border: 2px solid $off_black;
	border-radius: 10px;
	text-transform: uppercase;
	font-weight: bold;
	@include drop-shadow(0.5);
}
.btn-ard:focus{
	outline: none;
    background: darken($base, 10%);
}
.btn-ard:hover{
	outline: none;
    background: darken($base, 10%);
}
.btn-ard:active{
	outline: none;
    background: $orange
}
.btn-ard.active{
	outline: none;
    background: $orange
}


	.drop-tool{

	}
		.drop-tool ul{
			display: none;
			width: 88%;
			margin: 0% 6%;
			padding: 0;
			background: $base;
		}
		.drop-tool ul li{
			display: block;
			width: 100%;
			text-align: center;
			/*margin-top: 2px;*/
			list-style: none;
			padding: 2px 0;
			color: $sexy_off_white;
			text-transform: uppercase;
			border-bottom: 1px solid $sexy_off_white
		}
		.drop-tool ul li:focus{
			outline: none;
		    background: darken($base, 10%);
		}
		.drop-tool ul li:hover{
			outline: none;
		    background: darken($base, 10%);
		}
		.drop-tool ul li.active{
			outline: none;
		    background: darken($orange, 10%);
		}

		

.flex{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}
.scroll-list{
    flex-wrap: nowrap !important;
    flex-direction: column;
    justify-content: flex-start;
    overflow-x: hidden;
    overflow-y: scroll;
 }
/* FLEX */
.vert-centered {
  @extend .flex;
  -webkit-flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.vert-centered-sink-top{
	@extend .vert-centered;
	justify-content: flex-start;
}
.vert {
  @extend .flex;  
  -webkit-flex-flow: column wrap;
  justify-content: flex-start;
  align-items: center;
}
/*REF*/
 /*justify-content: flex-start | flex-end | center | space-between | space-around;*/
.hoz-left {
  @extend .flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.hoz {
  @extend .flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}
.full-hoz {
  @extend .hoz;
  width: 100%;
}
.full-hoz-centered {
  @extend .full-hoz;
  justify-content: center;
  align-items: center;
}

.full-hoz-right {
  @extend .full-hoz;
  justify-content: flex-end;
  align-items: center;
}

.flex-item {
  padding: 5px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}

.tall{
  padding: 0px;
  width: 100%;
  margin-top: 0px;
  height: 85%;
  line-height: 30px;
  color: white;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
}
.short{
  padding: 0px;
  width: 100%;
  margin-top: 0px;
  height: 15%;
  line-height: 28px;
  color: white;
  font-weight: bold;
  font-size: 0.8em;
  text-align: center;
}	
/**/

.label-normal{ background: $base_accent;}
.label-danger{ 
	border: 1px solid $off_black ;
	background: $accent2;
	border-radius: 15px;
	width: 90% !important;
	margin: 2% 5% 0% 5% !important;
	@include drop-shadow(0.2);
}
.dark{color: $off_black !important;}


body, html{
	width: 100vw;
	height: 100vh;
	background: $sexy_off_white;
}

#control-container{
	position: absolute;
	top: 0px;
	height: 100%;
	width: 100%;
	overflow: none;
	cursor: pointer;
}
	#view-container{
		height: $view_ui_ratio * 100%;
	}
		#status{
			/*position: relative;*/
			background: $base;
			border-left: $thick solid $off_black;
			padding: 0px 0px 0px 0px;
			z-index: 10000;
			@include drop-shadow(0.2);
			/*overflow: hidden;*/
		}

		/* WIDGET CSS */
			.widget{
			  margin-top: 0px;
		      position: relative;
		      width: 100%;
		    }
		    .widget-body{
		      padding: 10px 10px 10px 10px;
		      @include inset-shadow(0.2);
		    }
		  
		    .widget-title{
		      font-family: "Avenir";
		      font-weight: bold;
		      text-transform: uppercase;
		      padding: 2px 10px 2px 5px;
		      font-size: 12px;
		      text-align: left;
		      width: 100%;
		      z-index: 10;
		      margin: 0;
		      color: $sexy_off_white;

		    }
		    /* Main div for border to extend to 50% from bottom left corner */
			.label-normal:after {
			  content:""; 
			  background: $sexy_off_white; 
			  position: absolute; 
			  top: 0px; 
			  right: 5px; 
			  width: 70%; 
			  height: 1px;
			}
		    	.widget-title span{
	    		  position: relative;
			      top: 3px;
		    	}
		    
		    .widget img, .widget textarea{
		      width: 100%;
		    }

		/* END WIDGET CSS */

	#ui-container{
		border-top: $thick solid $off_black;
		background: darken($base, 10%);
		height: (1 - $view_ui_ratio) * 100%;
	}
	/* UI CSS */
		event{
			background: $base;
			padding: 0px;
			width: 100%;
			margin-top: 5px;
			margin-bottom: 0px;

			height: 100px;
			line-height: 150px;
			color: white;
			font-weight: bold;
			font-size: 1em;
			text-align: center;
			border: 2px solid $off_black;
			@include drop-shadow(0.43);
		}       
			    keyframe{
			    	@extend .vert-centered-sink-top;

			      	border: 2px solid $off_black;
			        background: darken($base_shadow, 20%);
			        padding: 0px;
			        width: 100px;
			        margin-top: 0px;

			        height: 90%;
			        line-height: 100%;

			        color: white;
			        font-weight: normal;
			        font-size: 0.8em;
			        text-align: center;
			        @include drop-shadow(0.93);
			       
			    }
			                    
			                    	/* HEADER KEYFRAME*/
			                        
			                    		.keyframe-options{
			                    			@extend .full-hoz;
			                    			height: 25%;
			                    			background: darken($base, 20%);
			                    			font-size: 8pt;
			                    			font-weight: bold;
			                    			line-height: 20px;
			                    		}
			                    		.keyframe-options div{
			                    			height: 100%;
			                    			/*border: 1px solid $base_shadow;*/
			                    			@include drop-shadow(0.9);
			                    		}
			                    		.keyframe-params{
			                    			@extend .full-hoz;
			                    			height: 75%;
			                    			background: lighten($base, 10%);
			                    		}

			                                  behavior, selector{
			                                    padding: 5px;
			                                    width: 100%;
			                                    margin: 0;
			                                    height: 40px;
			                                    margin-bottom: 5px;

			                                    flex-grow: 1;
			                                    color: white;
			                                    font-weight: bold;
			                                    font-size: 1em;
			                                    text-align: center;
			                                    
			                                  }
			                                  behavior img, selector img{
										        background: white;
										        width: 80%;
										        @include drop-shadow(0.9);
										      }    
			                                  
			                                  .btn-xxs{
			                                  	margin-top: 4px;
			                                    padding: 1px 2px;
			                                    font-size: 8px;
			                                    line-height: 1.2;
			                                    border-radius: 3px;
			                                  }
			                                  button.add-big{
			                                    /*font-size: 1.2em;
			                                    padding: 8px;
			                                    width: auto;*/
			                                    margin-left: 5px;
			                                    margin-right: 5px;
			                                  }            



			      transition{
			      	background: darken($base, 30%);
			        margin-top: 0px;
			        padding: 5px 3px;
			        width: 30px;
			        height: 80%;

			        line-height: 110%;
			        color: white !important;
			        font-weight: bold;
			        font-size: 7pt;
			        text-align: center;

			        margin-left: -1px;
			        margin-right: -1px;
			        border: 1px solid $off_black;
			        /*@include inset-shadow(0.2);*/
			      }
			     

			      .trigger{
			        background: $base;
			        text-transform: uppercase;
			        /*border: 1px solid #555;*/
			        padding: 5px;
			        /*width: 100px;*/
			        height: 50px;
			        margin-top: 0px;
			        border-radius: 20px;
			        margin-left: 5px;
			        margin-right: 5px;
			        line-height: 40px;
			        color: $sexy_off_white;
			        font-weight: bold;
			        font-size: 1.5em;
			        text-align: center;
			        border: 3px $sexy_off_white dotted;

			      }
			      .trigger:hover{
			      	background: darken($base, 5%);
			      	border-color: darken($sexy_off_white, 10%); ;
			      }
			      .trigger:active{
			      	background: darken($base, 10%);
			      	border-color: darken($sexy_off_white, 10%); ;
			      }
			      .trigger:focus{
			        outline: none;
			        border-color: darken($sexy_off_white, 10%); 
			        background: darken($base, 10%);
			        /*box-shadow: 0 0 5px #00A8e1;*/
			      }

	/* END UI CSS*/
.dark-gradient{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#181617+0,3b3a38+100 */
  background: #181617; /* Old browsers */
  background: -moz-linear-gradient(left, #181617 0%, #3b3a38 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #181617 0%,#3b3a38 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #181617 0%,#3b3a38 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#181617', endColorstr='#3b3a38',GradientType=1 ); /* IE6-9 */

  -webkit-box-shadow: 5px 0px 24px 3px rgba(0,0,0,0.09);
  -moz-box-shadow: 5px 0px 24px 3px rgba(0,0,0,0.09);
  box-shadow: 5px 0px 24px 3px rgba(0,0,0,0.09);
}

.subtle-shadow{
	-webkit-box-shadow: 0px 2px 12px -5px rgba(0,0,0,0.43);
	-moz-box-shadow: 0px 2px 12px -5px rgba(0,0,0,0.43);
	box-shadow: 0px 2px 12px -5px rgba(0,0,0,0.43);
}

/* GRAPH CSS */
path, .line {
	stroke: steelblue;
	stroke-width: 1;
	fill: none;
}

.axis {
  shape-rendering: crispEdges;
}

.x.axis line {
  stroke: lightgrey;
}

.x.axis .minor {
  stroke-opacity: .5;
}

.x.axis path {
  display: none;
}

.y.axis line, .y.axis path {
  fill: none;
  stroke: #000;
}

::-webkit-scrollbar {  
    -webkit-appearance: none;  
    width: 4px;  
    height: 4px;
    background: darken($base, 10%);
}  
  
::-webkit-scrollbar-track {  
    -webkit-appearance: none;  
    background: darken($base, 30%)  
}  

/* HANDLE */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: lighten($base, 30%) ; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4); 
}
