// Place all the styles related to the tool controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables";
@import "arduino";
@import "flexors";

@import "track";
@import "composer";
@import "block";
@import "datasignal";
@import "actuator";
@import "behavior";

@import "track";
@import "widget";
@import "drop";
@import "fileselectors";


#control-container{
	position: absolute;
	top: 0px;
	height: 100%;
	width: 100%;
	overflow: none;
	cursor: pointer;
}
#view-container{
	height: $view_ui_ratio * 100%;
}
#status{
	/*position: relative;*/
	background: $base;
	border-left: $thick solid $off_black;
	padding: 0px 0px 0px 0px;
	z-index: 0;
	@include drop-shadow(0.2);
	/*overflow: hidden;*/
}
#ui-container{
	border-top: $thick solid $off_black;
	background: darken($base, 10%);
	height: (1 - $view_ui_ratio) * 100%;
}
/* UI CSS */


	
	