
.alert{
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  margin: 0px 0%;
  z-index: 600;
  @include drop-shadow(0.5);
}
#project{
  top: 0px;
  left: 130px;
  position: fixed;
  z-index: 100;
  width: calc(100% - 260px);
}
#group{
  margin-top: 440px;
}
track{
  @extend .hoz;
  height: 90%;
  margin: 0 0px;
  /*max-height: 90px;*/
  padding: 0 0px;
  overflow-y: hidden;
  overflow-x: scroll;
  
  @include inset-shadow(0.5);
}

event.column{
  padding-top: 8px;
  @include drop-shadow(0.5);
  @extend .vert-centered-sink-top;
  position: fixed;
  left: 0;
  top: 43px;
  height: 100%;
  width: 130px !important;
  z-index: 100;
  
  .track-full{
    width: 100% !important;
    // margin-top: 8px;
    height: 94%;
    // padding-top: 6px;
    justify-content: flex-start!important;
    flex-direction: column !important;
    flex-wrap: nowrap !important;
    overflow-x: hidden;
    overflow-y: scroll !important;
    datasignal{
      min-height: 80px;
    }
    actuator{
      margin-bottom: 4px;
    }
  }
}
event.column.actuation-design{
  /*width: 140px;*/
  /*right: 0;*/
  /*left: auto;*/

  .track-full{
    overflow-y: scroll !important;
    /*padding-left: 2px!important;*/
    actuator{
      width: 100%;
      min-height: 77px;
      max-height: 76px;
      margin-bottom: 4px;
    }
  }
}
event.column.signal-design{
  width: 140px;
  right: 0;
  left: auto;
  .track-full{
    /*padding-left: 2px!important;*/
    datasignal{
      width: 100%;
      max-height: 76px;
      margin-bottom: 4px;
    }
  }
}
event{
  @extend .full-hoz;
  overflow-y: hidden;
  overflow-x: hidden;
  border: 1px solid $off_black;
  background: $base;
  padding: 0px;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  position: relative;
  height: 100px;
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
  @include drop-shadow(0.43);
 
  &.shrink{
    height: 40px !important;
    >*:not(.vert):not(.toggle){
      display: none !important;
    }

    >*:not(.vert):not(.toggle):not(label):not([class^=track]):not(acceptor){
      display: none !important;
    }
    actuator canvas, actuator channels{
      display: none !important;
    } 

    .vert *:not(.trigger):not(span){
      display: none !important;
    }
    actuator{
      width: auto;
      margin-right: 5px;
      div.simulation label.title{
        display: block !important;
        height: 100%;
        font-size: 10pt;
        background: $base;

        font-weight: bold;
      }
      h5, em{
        display: none;
      }
    }
    .track-unit.result{
      height: 100%;
      border-radius: 0;
    }
    .toggle{
      font-size: 30px;
    }
    &>.vert{
      min-width: 150px;
      height: 100%;
    }
    
    .trigger{
      /*text-align: left;*/
      width: 100%;
      margin: 0;
      padding-left: 10px;
      margin-left: 20px;
      padding-top: 2px;
      border-radius: 0 !important;
      height: 50px;
      border:none;
      span:nth-child(2){
        display: none;
      }
    }
  }
  button.trigger{
      min-width: 120px;
      max-width: 120px;
      width: 90%;
      font-size: 12pt !important;
      border-radius: 16px;
  }
  .vert.centered{
    height: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
    background: $sexy_green;
    button.trigger{
      background: lighten($sexy_green, 10%);
    }
  }
  &.collapsed .vert.centered{
    width: 50px;
    button.trigger{
      
      border: none;
      border-radius: 0;
      height: 100%;
      span:first-child{display:none};
    }
    
  }
 a.remove-actuator{
    position: absolute;
    top: 1px;
    right: 2px;
    font-size: 9px;
    line-height: 1;
    padding: 0px 1px;
    
  }

  
  button.remove{
    position: absolute;
    top: 1px;
    right: 2px;
    font-size: 9px;
    line-height: 1;
    padding: 0px 1px;
    z-index: 1001;
  }
  button.view-toggle{
    position: absolute;
    bottom: 0px;
    right: 0px;
    font-size: 9px;
    line-height: 1;
    padding: 0px 1px;
    z-index: 1001;
  }
  button.toggle{
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 9px;
    line-height: 1;
    padding: 0px 1px;
    z-index: 0;
  }
  button.trash{
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 9px;
    line-height: 1;
    padding: 0px 1px;
    z-index: 0;
  }
  .result{
    border-radius: 5px;
    color: $sexy_off_white;
    font-family: Avenir;
    font-weight: bold;
    background: darken($base, 30%) !important;
  }
  &.tall{height: 400px;}
}


#adder-track datasignal::after{
  content: '';
  position: absolute;
  right: -4px;
  top: 20%;
  width: 8px;
  height: 60%;
  background: $sexy_off_white;
  z-index: 10;
  @include rotate(3deg);
  -webkit-box-shadow: 0px 1px 2px 2px rgba(0,0,0,0.45);
  -moz-box-shadow: 0px 1px 2px 2px rgba(0,0,0,0.45);
  box-shadow: 0px 1px 2px 2px rgba(0,0,0,0.45);
}
