$sexy_off_white: #f5f4f0;
$view_ui_ratio: 0.7;
$electric_blue: #00A8E1;
$blue: #2D6A96;
$c9: #32343a;
$c6: #787c8c;

$base1: $c9;
$base: $blue;
$base_accent: $base; /* darken($base, 10%); */
$base_shadow: #78787B; /* gray */

$shadow: #67686A; /* shadow gray */
$highlight: #AFB0B3;
$accent2: $shadow;
$orange: #ff9e31;
$off_black: #151311;
$thick: 5px;
$sexy_red: #d9534f;
$sexy_select:  desaturate(yellow, 10%);
$sexy_yellow: #FF9912;
$sexy_yellow1:  $c6;
$sexy_green: #5cb85c;

$garage_band_gray: #3d3d3d;
$composition_base: $garage_band_gray;

$signal_yellow: darken(desaturate($sexy_yellow, 100%), 40%);
$actuator_blue: darken(desaturate($base, 30%), 5%);
$signal_base: $actuator_blue;
$actuator_base: $c9;

$time_signal_width: 110px;
$actuator_width: 110px;

@mixin inset-shadow($opacity){
	-webkit-box-shadow: inset 2px 2px 12px 0px rgba(0,0,0,$opacity);
	-moz-box-shadow: inset 2px 2px 12px 0px rgba(0,0,0,$opacity);
	box-shadow: inset 2px 2px 12px 0px rgba(0,0,0,$opacity);
}
@mixin drop-shadow($opacity){
	-webkit-box-shadow: 4px 4px 12px -5px rgba(0,0,0,$opacity);
	-moz-box-shadow: 4px 4px 12px -5px rgba(0,0,0,$opacity);
	box-shadow: 4px 4px 12px -5px rgba(0,0,0,$opacity);
}
@mixin drop-highlight-color($color){
	-webkit-box-shadow: 0px 8px 12px -5px $color;
	-moz-box-shadow: 0px 8px 12px -5px $color;
	box-shadow: 0px 8px 12px -5px $color;
}
@mixin drop-highlight($opacity){
	-webkit-box-shadow: 0px 8px 12px -5px rgba(255,255,255,$opacity);
	-moz-box-shadow: 0px 8px 12px -5px rgba(255,255,255,$opacity);
	box-shadow: 0px 8px 12px -5px rgba(255,255,255,$opacity);
}
@mixin inset-highlight($opacity){
	-webkit-box-shadow: inset 2px 2px 12px 0px rgba(255,255,255,$opacity);
	-moz-box-shadow: inset 2px 2px 12px 0px rgba(255,255,255,$opacity);
	box-shadow: inset 2px 2px 12px 0px rgba(255,255,255,$opacity);
}

 @mixin rotate($degrees) {
    -webkit-transform: rotate($degrees);
    -moz-transform: rotate($degrees);
    -ms-transform: rotate($degrees);
    -o-transform: rotate($degrees);
    transform: rotate($degrees);
}

body, html{
	width: 100vw;
	height: 100vh;
	background: $sexy_off_white;
}

.label-normal{ background: $base_accent;}
.label-danger{ 
	border: 1px solid $off_black ;
	background: $accent2;
	border-radius: 15px;
	width: 90% !important;
	margin: 2% 5% 0% 5% !important;
	@include drop-shadow(0.2);
}
.dark{color: $off_black !important;}
.dark-gradient{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#181617+0,3b3a38+100 */
  background: #181617; /* Old browsers */
  background: -moz-linear-gradient(left, #181617 0%, #3b3a38 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #181617 0%,#3b3a38 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #181617 0%,#3b3a38 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#181617', endColorstr='#3b3a38',GradientType=1 ); /* IE6-9 */

  -webkit-box-shadow: 5px 0px 24px 3px rgba(0,0,0,0.09);
  -moz-box-shadow: 5px 0px 24px 3px rgba(0,0,0,0.09);
  box-shadow: 5px 0px 24px 3px rgba(0,0,0,0.09);
}

.subtle-shadow{
	-webkit-box-shadow: 0px 2px 12px -5px rgba(0,0,0,0.43);
	-moz-box-shadow: 0px 2px 12px -5px rgba(0,0,0,0.43);
	box-shadow: 0px 2px 12px -5px rgba(0,0,0,0.43);
}

::-webkit-scrollbar {  
    -webkit-appearance: none;  
    width: 4px;  
    height: 4px;
    background: darken($base, 10%);
}  
  
::-webkit-scrollbar-track {  
    -webkit-appearance: none;  
    background: darken($base, 30%)  
}  

/* HANDLE */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: lighten($base, 30%) ; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4); 
}

.form-control-special{
	display: block;
	/* width: 100%; */
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.428571429;
	color: #555555;
	background-color: white;
	background-image: none;
	border: 1px solid #cccccc;
	/*border-radius: 4px;*/
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 0px;
	border-top-right-radius: 0px;

	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	-o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

