%event#behaviors.full-hoz
  .vert
    %button.design-title.btn-primary.trigger{:type => "trigger"}
      BEHAVIORS
    %button.btn.btn-xs.btn-danger.sexy
      %span.glyphicon.glyphicon-refresh
      UPDATE