:coffeescript
	$ ->
		$('#behaviorlib').click()
		$('#add-behavior').click ()->
			b = new Behavior
				container: $('#behavior-library .track-full')
				data:
					name: "BEHAVIOR"
			b.dom.click()
			$('#add-stage').click()
			alertify.notify "We loaded a new behavior to the stage. Add an actuator group to get started.", 'info', 7

%behaviornode.template
	%button.close.btn.btn-xs.btn-ghost 
		= glyph "remove"
	.top
		%p 
			%span.name STAGGER BEHAVIOR
		
		%p.info
			%span
				
				%span.numActuators 20
				%span ACT
			%span /
			%span
				%span.stages-length 1
				%span.abbv stages
			
		.bottom
			.full-hoz
				.vert
					%p.time
						%span.period 2300 ms
					%p.repeat 
						%span (
						%span.val no-repeat
						%span ) 
				%span.play-container
					%button.btn.btn-sm.btn-ghost.play.btn-block
						= glyph "play"



#behavior-library.tab-pane{:role => "tabpanel"}
	%button.btn.btn-block.btn-ghost.btn-xs#add-behavior
		= glyph "plus"
		BEHAVIOR
	.track-full.droppable
