%event#behaviors.composition-design
	.vert
		%button#compose.design-title.btn-primary.trigger{:type => "trigger"}
			%span GRADIENT
			%span.command [G]
		%input#gradient.sexy{:type=>"range", :min => 0, :max => 1, :step => 0.01}
	#gradient-result.track-unit
		%datasignal#result
			%canvas
	#gradient-track.track-full.droppable.sortable
		%button.btn.btn-xs.btn-danger.trash
			=glyph "trash"