%event#composed.full-hoz.tall
  .vert
    %button.design-title.btn-primary.trigger{:type => "trigger"}
      COMPOSED
    %button.btn.btn-xs.btn-danger.sexy
      %span.glyphicon.glyphicon-refresh
      UPDATE
  .vert{:style => "width: 170px"}
    #time
      %label.vert
        %span.label TIME PERIOD
        %label
          %span#time-status 3000
          %span#time-unit ms
      %input{:name=>"time", :type=> "range", :min => 0, :max => 10000, :step => 100, :value => 3000}
    
    %datasignal.vert-centered{:style => "height: 100px; width: 129px"}
      %canvas{:data => "[0, 1, 0]"}
    #scrubber
      %input{:name=>"time", :type=> "range", :min => 0, :max => 3000, :step => 30, :value => 0}
      %label
        %span#frame-status 0:00
      
  %commandlist.vert-centered
    #editor.editor
    .full-hoz
      .btn-group.full-hoz-centered
        %button.btn.btn-xs.btn-primary.sexy
          %span.glyphicon.glyphicon-trash
          TRASH
        %button.btn.btn-xs.btn-danger.sexy
          %span.glyphicon.glyphicon-stop
          STOP
        %button.btn.btn-xs.btn-danger.sexy
          %span.glyphicon.glyphicon-pause
          PAUSE
        %button.btn.btn-xs.btn-success.sexy{style:"width: 20%;"}
          %span.glyphicon.glyphicon-play
          PLAY
:css
  #editor{
    height: 100%;
    border-radius: 5px;
    padding: 5px;
    width: 99%;
    margin-top: 5px;
  }
  
  #time span.label{
    font-size: 8pt;
    font-weight: normal;
    margin-bottom: 0
  }