
%event#hues.signal-design
  %button.btn.btn-xs.btn-info.toggle
    =glyph "collapse-up"
  .vert
    %button#apply-signal.design-title.btn-primary.trigger{:type => "trigger"}
      %span SWATCHES
      
    %span.command 500ms
    %input.sexy{:type=>"range", :min => 0, :max => 1000, :step => 100, :value=> 1000}
  .track-full{:data =>{:accept=> 100, :semantic => "enabled", :timescale => 10000, :tracks => 1, :exportable => "enabled"}}
    

%event#library.signal-design.column
  / %button.btn.btn-xs.btn-info.toggle
  /   =glyph "collapse-up"
  .vert
    %button.design-title.btn-primary.trigger{:type => "trigger"}
      %span SIGNALS
      / %span.command [CTRL + S]


  .track-full.droppable.sortable{:data =>{:accept=> 100, :semantic => "enabled", :timescale => 10000, :tracks => 1, :exportable => "enabled"}}
    %datasignal.default{:data => {:signal => "[0,1,0,1,0,1,0,1,0,1,0,1]", "period" => 1000}}
      %canvas
    %button.btn.btn-xs.btn-primary.view-toggle
      =glyph "eye-open"
%event#timecut.signal-design
  %button.btn.btn-xs.btn-info.toggle
    =glyph "collapse-up"
  .vert
    %button#ts-cutter.vert-centered.design-title.btn-primary.trigger{:type => "trigger"}
      %span CUT
      %span.command [CTRL + X]
  .track-full.droppable{:data =>{:accept=> 1, :draggable => "enabled", :semantic => "enabled", :timescale => 10000, :tracks => 1, :exportable => "disabled", :gamma_corrective => 0.5}}
    %button.btn.btn-xs.btn-danger.trash
      =glyph "trash"
    %button.btn.btn-xs.btn-primary.view-toggle
      =glyph "eye-open"
%event#reflect.signal-design
  %button.btn.btn-xs.btn-info.toggle
    =glyph "collapse-up"
  .vert
    %button#ts-reflector.vert-centered.design-title.btn-primary.trigger{:type => "trigger"}
      %span REFLECT
      %span.command [CTRL + R]
  .track-full.droppable{:data =>{:accept=> 100, :semantic => "enabled", :timescale => 10000, :tracks => 1, :gamma_corrective => 0.5, :exportable=> "enabled"}}
    %button.btn.btn-xs.btn-danger.trash
      =glyph "trash"
    %button.btn.btn-xs.btn-primary.view-toggle
      =glyph "eye-open"


%event#adder.signal-design
  %button.btn.btn-xs.btn-info.toggle
    =glyph "collapse-up"
  .vert
    %button#ts-adder.vert-centered.design-title.btn-primary.trigger{:type => "trigger"}
      %span WELD
      %span.command [CTRL + W]
  #add-result.track-unit{:data =>{:accept=> 0, :semantic => "enabled", :timescale => 10000, :tracks => 1, :exportable => "enabled"}}
    %datasignal#result
      %canvas
  #adder-track.track-full.droppable.sortable{:data =>{:accept=> 100, :semantic => "enabled", :timescale => 10000, :tracks => 1, :gamma_corrective => 0.5, :exportable=> "enabled"}}
    %button.btn.btn-xs.btn-danger.trash
      =glyph "trash"
    %button.btn.btn-xs.btn-primary.view-toggle
      =glyph "eye-open"




