%event#distributed.full-hoz
  .vert
    %button.design-title.btn-primary.trigger{:type => "trigger"}
      DISTRIBUTED
    %button.btn.btn-xs.btn-danger.sexy
      %span.glyphicon.glyphicon-refresh
      UPDATE