#selectors.full-hoz
  #file-select.hoz-left.half-w.mpadding
    .vert-left.full-w
      %span.status-label#file-info
        PROJECT
      .full-hoz
        %select.form-control#file-selector.sexy
  #port-select.hoz-left.half-w.mpadding
    .vert-left.full-w
      %span.status-label#port-info
        CONNECTED TO:
        %span.status#port-status –
      .full-hoz
        %select.form-control#port-selector.sexy
        %button#port-connect.btn.btn-xs.btn-success
          = glyph "transfer"
%event#project.full-hoz.tall.actuation-design
  .vert
    %button.design-title.btn-primary.trigger{:type => "trigger"}
      PROJECT
  #projectviewer
    %canvas
  #actuator-generator.track-unit.result
    %actuator.vert-centered
      %h5 RESULT
      %em.faint (CLICK ON AN ACTUATOR IN THE IMAGE)