#selectors.full-hoz
  #file-select.hoz-left.half-w.mpadding
    .vert-left.full-w
      %span.status-label#file-info
        PROJECT
      .full-hoz
        %select.form-control#file-selector.sexy
  #port-select.hoz-left.half-w.mpadding
    .vert-left.full-w
      %span.status-label#port-info
        CONNECTED TO:
        %span.status#port-status –
      .full-hoz
        %select.form-control#port-selector.sexy
        %button#port-connect.btn.btn-xs.btn-success
          = glyph "transfer"
  #port-select.hoz-left.mpadding{width: 30}
    .vert-left.full-w
      %span.status-label
        LIVE?
      .full-hoz
        / %select.form-control#port-selector.sexy
        %button#live-connect.btn.btn-xs.btn-success
          = glyph "send"
