#selectors.full-hoz
  #file-select.hoz-left.half-w.mpadding
    .vert-left.full-w
      %span.status-label#file-info
        PROJECT
      .full-hoz
        %select.form-control#file-selector.sexy
  #downloaders.hoz-left.half-w.mpadding
    .vert-left.full-w
      %span.status-label#port-info
        DOWNLOAD AS
      .full-hoz
        .btn-group
          %a#svg-download.btn.btn-xs.btn-success SVG
          %a#png-download.btn.btn-xs.btn-success PNG
