%event#timemorph.signal-design
  %button.btn.btn-xs.btn-info.toggle
    =glyph "collapse-up"
  .vert
    %button#ts-adder.design-title.btn-primary.trigger{:type => "trigger"}
      %span SENSORS
      %span.command
    %input#time-morph.sexy{:type=>"range", :min => -100, :max => 10000, :step => 100}
  %table.table
    %tr.temperature
      %td TEMPERATURE
      %td{name: "sensor-V"} - 
      %td NEAR
      %td{name: "sensor-M"}  - 
      %td FAR
      %td{name: "sensor-G"} - 
:css
  table{
    width: 400px !important;
  }