%event#event-design.composition-design
  .sidebar
    %button.btn.btn-xs.btn-info.toggle
      =glyph "collapse-up"
    %button.design-title.btn-primary.trigger{:type => "trigger"}
      %span EVENTS
      %span.command
  - if true
    .workarea
      .track-full.droppable{:data =>{:accept=> 100, :semantic => "enabled", :timescale => 10000, :tracks => 1, :exportable => "enabled", :gamma => 0.5, :gamma_corrective => 0.5, :perceptual => "enabled" }}
        %button.btn.btn-xs.btn-danger.trash
          =glyph "trash"
        %button.btn.btn-xs.btn-primary.view-toggle
          =glyph "eye-open"
