<div id="debug-guide" class="debug-container col-xs-3 pull-right">
    <label class="text-shadowed"> DEBUG </label>
    <div id="debugger">
      <ul class="list-group">

      <li class="list-group-item">
        <p class="title"> Continuity Check </p>
        <p>
          Set your multimeter to continuity mode. 
        <p>
        <p>
            Apply probes to LED#1 negative and LED#1 positive locations. 
        </p>
        <p>
          Is it continuous?
        </p>
        <div class="pull-right btn-group">
          <button class="btn btn-sm btn-success"><span class="glyphicon glyphicon-arrow-right"></span></button>
          <!-- <button class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-remove"></span></button> -->
        </div>

      </li>

      </ul>
      <div id="confirm">
        <p>
          Has your LED#1 turned on?
        </p>
        <div class="pull-right btn-group">
          <button class="btn btn-sm btn-success"><span class="glyphicon glyphicon-ok"></span></button>
          <!-- <button class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-remove"></span></button> -->
        </div>
      </div>
    </div>
  </div>