
<div id="fab-guide" class="debug-container col-xs-3 pull-right">
    <label class="text-shadowed"> FABRICATION GUIDE </label>
    <div id="debugger">
      <ul class="list-group">
      <li class="list-group-item">
        <p>Fix the battery to the design. Make sure the positive side is oriented correctly. </p>
        <div class="btn-group pull-right">
          <button class="btn btn-sm btn-success"><span class="glyphicon glyphicon-check"></span></button>
          <!-- <button class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-remove"></span></button> -->
        </div>
      </li>
     <li class="list-group-item">
        <p>Apply your LED sticker at position #1. </p>
         <div class="btn-group pull-right">
          <button class="btn btn-sm btn-success"><span class="glyphicon glyphicon-check"></span></button>
          <!-- <button class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-remove"></span></button> -->
        </div>
      </li>
     <li class="list-group-item">
        <p> Using your silver pen, connect the LED #1 positive terminal to the battery's positive terminal. </p>
         <div class="btn-group pull-right">
          <button class="btn btn-sm btn-success"><span class="glyphicon glyphicon-check"></span></button>
          <!-- <button class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-remove"></span></button> -->
        </div>
      </li>
     <li class="list-group-item">
        <p>Using your silver pen, connect the LED #1 negative terminal to the battery to the negative terminal. </p>
         <div class="btn-group pull-right">
          <button class="btn btn-sm btn-warning"><span class="glyphicon glyphicon-check"></span></button>
          <!-- <button class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-remove"></span></button> -->
        </div>
      </li>
     <li class="list-group-item">
        <p>Does your LED #1 light up?  </p>
        <div class="btn-group pull-right">
          <button class="btn btn-sm btn-warning"><span class="glyphicon glyphicon-ok"></span></button>
          <button class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-remove"></span></button>
        </div>
      </li>
     <li class="list-group-item">
        ...
      </li>
      </ul>
    </div>
  </div>