<!-- Required attributes:
data-id
data-digital-inlets = 1
data-digital-outlets = 1
data-digital-polarity = 2
data-style-*
data-physical-*
 -->
<!-- <select class="materials" data-component-type="trace" class="form-control">

</select>  -->
<label> Electrical Components </label>
<select class="materials" data-component-type="electrical_components" class="form-control">
        <option data-id="led-yellow-through-hole" data-physical-maxcurrent="20" data-physical-voltage = "2" data-physical-package = "5mm through-hole" data-physical-current-unit="microamps" data-style-color="#F9ED32" data-digital-inlet="1" data-digital-outlet="1" data-digital-polarity="2" > Yellow LED </option>
        <option data-id="led-red-through-hole" data-physical-maxcurrent="20" data-physical-voltage = "2" data-physical-package = "5mm through-hole" data-physical-current-unit="microamps" data-style-color="#BE1E2D" data-digital-inlet="1" data-digital-outlet="1" data-digital-polarity="2" > Red LED </option>
        <option data-id="led-blue-through-hole" data-physical-maxcurrent="30" data-physical-voltage = "3.4" data-physical-package = "5mm through-hole" data-physical-current-unit="microamps" data-style-color="#27AAE1" data-digital-inlet="1" data-digital-outlet="1" data-digital-polarity="2" > Blue LED </option>
        <option data-id="led-green-through-hole" data-physical-maxcurrent="20" data-physical-voltage = "2" data-physical-package = "5mm through-hole" data-physical-current-unit="microamps" data-style-color="#39B54A" data-digital-inlet="1" data-digital-outlet="1" data-digital-polarity="2" > Green LED </option>

        <option data-id="led-yellow-0805-smd" data-physical-maxcurrent="50" data-physical-voltage = "1.9" data-physical-package = "0805 SMD" data-physical-current-unit="microamps" data-style-color="#F9ED32" data-digital-inlet="1" data-digital-outlet="1" data-digital-polarity="2" > Yellow LED </option>
        <option data-id="led-red-0805-smd" data-physical-maxcurrent="50" data-physical-voltage = "2" data-physical-package = "0805 SMD" data-physical-current-unit="microamps" data-style-color="#BE1E2D" data-digital-inlet="1" data-digital-outlet="1" data-digital-polarity="2" > Red LED </option>
        <option data-id="led-blue-0805-smd" data-physical-maxcurrent="60" data-physical-voltage = "3.9" data-physical-package = "0805 SMD" data-physical-current-unit="microamps" data-style-color="#27AAE1" data-digital-inlet="1" data-digital-outlet="1" data-digital-polarity="2" > Blue LED </option>
        <option data-id="led-green-0805-smd" data-physical-maxcurrent="50" data-physical-voltage = "2" data-physical-package = "0805 SMD" data-physical-current-unit="microamps" data-style-color="#39B54A" data-digital-inlet="1" data-digital-outlet="1" data-digital-polarity="2" > Green LED </option>

        <option data-id="led-yellow-circuitsticker" data-physical-maxcurrent="50" data-physical-voltage = "2" data-physical-package = "Circuit Sticker" data-physical-current-unit="microamps" data-style-color="#F9ED32" data-digital-inlet="1" data-digital-outlet="1" data-digital-polarity="2" > Yellow LED </option>
        <option data-id="led-red-circuitsticker" data-physical-maxcurrent="50" data-physical-voltage = "2" data-physical-package = "Circuit Sticker" data-physical-current-unit="microamps" data-style-color="#BE1E2D" data-digital-inlet="1" data-digital-outlet="1" data-digital-polarity="2" > Red LED </option>
        <option data-id="led-blue-circuitsticker" data-physical-maxcurrent="60" data-physical-voltage = "2.6" data-physical-package = "Circuit Sticker" data-physical-current-unit="microamps" data-style-color="#27AAE1" data-digital-inlet="1" data-digital-outlet="1" data-digital-polarity="2" > Blue LED </option>
        <option data-id="led-white-circuitsticker" data-physical-maxcurrent="50" data-physical-voltage = "2.5" data-physical-package = "Circuit Sticker" data-physical-current-unit="microamps" data-style-color="#39B54A" data-digital-inlet="1" data-digital-outlet="1" data-digital-polarity="2" > White LED </option>
</select> 
<br>

<label> Trace Materials </label>
<select class="materials" data-component-type="trace" class="form-control">
        <option data-id="copper-tape" data-physical-resistance ="0.5" data-physical-current-unit="milliohms" data-style-color="#F79411" data-digital-inlet="1" data-digital-outlet="1" data-digital-polarity="2" > Silver </option>
        <option data-id="silver-paint" data-physical-resistance ="2000" data-physical-current-unit="milliohms" data-style-color="#F7541E" data-digital-inlet="1" data-digital-outlet="1" data-digital-polarity="2" > Copper wire </option>
        <option data-id="graphite-paint" data-physical-resistance ="5500" data-physical-current-unit="milliohms" data-style-color="#F7911E" data-digital-inlet="1" data-digital-outlet="1" data-digital-polarity="2" > Blue LED </option>
        <option data-id="conductive-thread" data-physical-resistance ="6000" data-physical-current-unit="milliohms" data-style-color="#47941E" data-digital-inlet="1" data-digital-outlet="1" data-digital-polarity="2" > Green LED </option>
</select> 



